@import "../../styles";

.filter-trigger-container{
  @include stroked-container;
  cursor: pointer;
}

.filter-trigger-clear {
  opacity: 0;
}

.filter-open{
  background: $dark-bg-lighter-80;
  .filter-trigger-clear{
    @include ease-in;
  }
}

.filter-formfield-container{
  @include width-100;
  @include flex-around-center;
  flex-wrap: wrap;
}

.filter-formfield{
  min-width: 10rem;
  flex-grow: 1;
  padding: 0 $container-padding-sm;
}

@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(lg) {
}
@include media-breakpoint-up(xl) {
}
@include media-breakpoint-up(xxl) {
}

.cm-table-row:hover{
  background-color: $dark-bg-lighter-80;
  cursor: pointer;
}

.error-container{
  @include flex-around-center;
  position: absolute;
  width: 100%;
  left:0;
  top: calc(100vh*0.35);
  color: $dark-disabled-text;
  font-family: 'Roboto';
  mat-icon{
    $size: 180px;
    font-size: $size;
    height: $size;
    width: $size;
    padding-bottom: $size*0.5;
  }
}
