@import "../../styles";

.user-details-profile-header{
  display: flex;
  padding: $container-padding-lg;
  >div{
    padding: $container-padding-md;
  }
}

.padding-horizontal{
  padding: 0 35px;
}

.user-details-profile-name{
}

.user-details-grid-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
  row-gap: 15px;
  padding: 25px 0;
  margin: 0 35px;
}
